{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/discussion.css') }}">
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle"
                data-toggle="dropdown">
                {{ username }}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{url_for('myGroups')}}">My Groups</a></li>
                <li><a href="#">Contact with Admin</a></li>
                <li class="divider"></li>
                <li><a href="#">Settings</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block content %}
	<div id="discuss_div">
		<h2 id="discuss_title">{{discuss.title}}</h2>
		<p id="discuss_content">{{discuss.content}}</p>
		<div class="tab-pane" id="reply">
            <h4>Here's reply:</h4><hr>
            <ul class="replies list-group">
			{% for item in reply %}
                <li class="list-group-item">
                	<p>from user {{item.username}}:
                		<span>{{item.content}}</span>
                	</p>
                    
                </li>
			{% endfor %}
            </ul>
        </div>
        {{reply}}
	</div>

{% endblock %}
