{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/discussion.css') }}">
    <script type=text/javascript src="../static/js/discussion.js"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle"
                data-toggle="dropdown">
                {{ username }}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{url_for('myGroups')}}">My Groups</a></li>
                <li><a href="#">Contact with Admin</a></li>
                <li class="divider"></li>
                <li><a href="#">Settings</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div id="discuss_body">
    	<div id="discuss_div" class="panel panel-default">
            <div class="panel-heading"><h4>{{discuss.title}}</h4></div>
            <div class="panel-body"><p class="dis-content">{{discuss.content}}</p></div>
            <div class="panel-footer">
                <ol class="breadcrumb">
                    <li><a href="{{ url_for('index') }}">Grape</a></li>
                    <li><a href="{{ url_for('groupDetail', group_id=group_id) }}">{{ group_name }}</a></li>
                    <li class="active">{{ discuss.title }}</li>
                </ol>
            </div>
    	</div>
        <div id="discuss_div" class="panel panel-default">
            <div class="panel-heading"><h4>Replies:</h4></div>
            <ul class="replies list-group">
            {% for item in reply %}
                <li class="list-group-item">
                    <p class="reply">{{item.content}}</p>
                    <p class="from">from: {{item.username}}</p>
                </li>
            {% else %}
                <li class="list-group-item">
                    <p class="reply">This discussion has not been replied yet!</p>
                </li>
            {% endfor %}
            </ul>
        </div><hr>
        <div class="new-reply">
            <h4>Submit your reply:</h4>
            <form action="" id="reply-form">
                <div class="form-group">
                    <label for="content">content:</label>
                    <textarea class="form-control" rows="4"name="content" id="reply-content"></textarea>
                    <br>
                </div>
                <button type="submit" class="btn btn-default">submit</button>
            </form>
        </div>
    </div>

{% endblock %}
