{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/index-log.css">
    <link rel="stylesheet" href="../static/css/group-id.css">
    <script src="../static/js/common.js"></script>
    <script src="../static/js/group-id.js"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <link type="text/css" href="/static/css/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
    <link type="text/css" href="/static/css/jquery-ui-timepicker-addon.css" rel="stylesheet" />
	<script type="text/javascript" src="/static/js/jquery-ui-1.8.17.custom.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui-timepicker-addon.js"></script>

{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle"
                data-toggle="dropdown">
                {{ username }}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block banner %}
    <div class="bs-docs-header" id="content" tabindex="-1">
        <div class="container">
            <h1>{{ group_data['name'] }}</h1>
            <p>{{ group_data['description'] }}</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="group-details">
        <div class="tab-group">
            <ul class="list-group">
                {% if role == '0' %}
                    <li><a class="list-group-item tab-main" href="#groupInfo" data-toggle="tab">
                        Group Information</a></li>
                {% endif %}
                {% if role == '1' or role == '2' %}
                    <li><a class="list-group-item tab-main" href="#news" data-toggle="tab">
                        News</a></li>
                    <li><a class="list-group-item tab-main" href="#groupInfo" data-toggle="tab">
                        Group Information</a></li>
                    <hr>
                    <li><a class="list-group-item tab-main" href="#votes" data-toggle="tab">
                        Votes</a></li>
                    <li><a class="list-group-item tab-main" href="#discussions" data-toggle="tab">
                        Discussions</a></li>
                    <li><a class="list-group-item tab-main" href="#bulletin" data-toggle="tab">
                        Bulletin</a></li>
                    <hr>
                    {% if role == '2' %}
                    <li><a class="list-group-item tab-main" href="#newVote" data-toggle="tab">
                        New Vote</a></li>
                    <li><a class="list-group-item tab-main" href="#newBulletin" data-toggle="tab">
                        New Bulletin</a></li>
                    {% endif %}
                    {% if role == '1' or role == '2' %}
                    <li><a class="list-group-item tab-main" href="#newDiscussion" data-toggle="tab">
                        New Discussion</a></li>
                    {% endif %}
                    <hr>
                    <li><a class="list-group-item" href="{{ url_for('index') }}">
                        Back to index</a></li>
                {% endif %}
            </ul>
        </div>

        <div id="tab-content-main" class="tab-content tab-content-main">

            {% if role == '0' %}
            <div class="tab-pane fade in active" id="groupInfo">
                <h3>Group Information</h3><hr>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>Group Name</td>
                            <td>{{ group_data['name'] }}</td>
                        </tr>
                        <tr>
                            <td>Group ID</td>
                            <td>{{ group_data['group_id'] }}</td>
                        </tr>
                        <tr>
                            <td>Topic</td>
                            <td>{{ group_data['topic'] }}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ group_data['description'] }}</td>
                        </tr>
                        <tr>
                            <td>Create Time</td>
                            <td>{{ group_data['create_time'] }}</td>
                        </tr>
                    </tbody>
                </table>
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="confirm">I know the confirm message for this group</label>
                        <input id="confirm" class="form-control" name="confirm" placeholder="Confirm message">
                    </div>
                </form>
                    <button id="join" class="btn btn-default">Join!</button>
            </div>
            {% else %}
            <div class="tab-pane fade" id="groupInfo">
                <h3 id="group-info-title">Group Information</h3>
                <hr>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Basic Information</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Group Name</td>
                            <td>{{ group_data['name'] }}</td>
                        </tr>
                        <tr>
                            <td>Group ID</td>
                            <td>{{ group_data['group_id'] }}</td>
                        </tr>
                        <tr>
                            <td>Topic</td>
                            <td>{{ group_data['topic'] }}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ group_data['description'] }}</td>
                        </tr>
                        <tr>
                            <td>Create Time</td>
                            <td>{{ group_data['create_time'] }}</td>
                        </tr>

                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Member Information</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Leader Name</td>
                            <td>
                                <span class="label label-success">{{ group_data['leader_name'] }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Group Members  <span class="badge">{{ memberNames|length() }}</span></td>
                            <td>
                                <a class="show-detail" data-target="#members">
                                    details</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div id="members" style="display: none;">
                                {% for name in memberNames %}
                                    <span class="label label-primary">{{ name }}</span>
                                {% else %}
                                    There's nobody in your group!
                                {% endfor %}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% if role == '1' %}
                    <a class="popover-options btn btn-default" id="quit-group"
                            title="Are you sure to quit this group?"
                            data-container="body" data-toggle="popover"
                            data-content='<a class="group-quit btn btn-primary" id="quit">yes</a>
                            <a class="btn btn-primary popover-close" origin="#quit-group">no</a>'>
                            quit
                    </a>
                {% endif %}
            </div>
            {% endif %}

            {% if role == '1' or role == '2' %}
                <div class="tab-pane fade" id="votes">
                    <ul id="tab-sub-votes" class="nav nav-tabs">
                        <li class="active">
                        <a href="#voting" data-toggle="tab">Current Votes</a>
                        </li>
                        <li><a href="#end" data-toggle="tab">Past Votes</a></li>
                    </ul>
                    <div id="tab-sub-content-votes" class="tab-content tab-content-votes">
                        <div class="tab-pane fade in active" id="voting">
                            <ul class="voting-votes-list list-group">
                            {% for vote_pair in votes_list_voting %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-2" style="text-align: center;">
                                            <i class="fa fa-4x fa-bar-chart group-vote-icon"></i>
                                        </div>
                                        <div class="col-md-10">
                                            <h4><a href="{{ url_for('vote_operation',vote_id=vote_pair[0]) }}">{{vote_pair[1]}}</a></h4>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <a class="show-detail btn btn-default" data-toggle="collapse"
                                               data-target="#vote-{{ vote_pair[0] }}">
                                                details</a>
                                        {% if role == '2' or username == vote_pair[5] %}
                                            <a class="popover-options btn btn-default" id="delete-vote-{{ vote_pair[0] }}"
                                                    title="Are you sure to delete this vote?"
                                                    data-container="body" data-toggle="popover"
                                                    data-content='<a class="vote-delete btn btn-primary" victim="{{ vote_pair[0] }}">yes</a>
                                                    <a class="btn btn-primary popover-close" origin="#delete-vote-{{ vote_pair[0] }}">no</a>'>
                                                    delete
                                            </a>
                                        {% endif %}
                                        <div id="vote-{{ vote_pair[0]}}" class="collapse row vote-detail">
                                            <ul>
                                                <li>
                                                    Created by {{ vote_pair[5] }} on {{ vote_pair[3] }}.
                                                </li>
                                                <li>
                                                    {{ vote_pair[2] }} among {{ memberNum }} attended this vote.
                                                </li>
                                                <li>
                                                    Will end on {{ vote_pair[4] }}.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            {% else %}
                                <li class="list-group-item">
                                    <h4>Oops! Currently there isn't any vote!</h4>
                                    <h5>Click "New vote" to create one!</h5>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="end">
                            <ul class="ended-votes-group list-group">
                            {% for vote_pair in votes_list_end %}

                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-2" style="text-align: center;">
                                            <i class="fa fa-4x fa-bar-chart group-vote-icon"></i>
                                        </div>
                                        <div class="col-md-10">
                                            <h4><a href="{{ url_for('view_votes_result',vote_id=vote_pair[0]) }}">{{vote_pair[1]}}</a></h4>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <a class="show-detail btn btn-default" data-toggle="collapse"
                                               data-target="#vote-{{ vote_pair[0] }}">
                                                details</a>
                                        {% if role == '2' or username == vote_pair[5] %}
                                            <a class="popover-options btn btn-default" id="delete-vote-{{ vote_pair[0] }}"
                                                    title="Are you sure to delete this vote?"
                                                    data-container="body" data-toggle="popover"
                                                    data-content='<a class="vote-delete btn btn-primary" victim="{{ vote_pair[0] }}">yes</a>
                                                    <a class="btn btn-primary popover-close" origin="#delete-vote-{{ vote_pair[0] }}">no</a>'>
                                                    delete
                                            </a>
                                        {% endif %}
                                        <div id="vote-{{ vote_pair[0]}}" class="collapse row vote-detail">
                                            <ul>
                                                <li>
                                                    Created by {{ vote_pair[5] }} on {{ vote_pair[3] }}.
                                                </li>
                                                <li>
                                                    {{ vote_pair[2] }} among {{ memberNum }} attended this vote.
                                                </li>
                                                <li>
                                                    End on {{ vote_pair[4] }}.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                            {% else %}
                                <li class="list-group-item">
                                    <h4>Oops! There isn't any past vote!</h4>
                                    <h5>Click "New vote" to create one!</h5>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade in active" id="news">
                    <h3>News</h3><hr>
                    <ul class="news list-group">
                    {% for news in newsList %}
                        {% if news.type == 4 %}
                            {% set key = 'fa-bullhorn bulletin-icon icon' %}
                        {% elif news.type == 3 %}
                            {% set key = 'fa-table vote-icon icon' %}
                        {% elif news.type == 1 %}
                            {% set key = 'fa-comments-o discuss-icon icon' %}
                        {% else %}
                            {% set key = 'fa-chain-broken delete-icon icon' %}
                        {% endif %}
                        <li class="list-group-item">
                            <div class="icon-div">
                                <span class="fa fa-4x {{key}}"></span>
                            </div>
                            <div class="news-content-div">
                                <h4>{{news.content | safe}}</h4>
                                <p class="news_info">
                                    <span class="news_time">{{news.time}}&nbsp;&nbsp;</span>
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>

                <div class="tab-pane fade" id="discussions">
                    <h3>Discussions</h3><hr>
                    <ul class="news list-group">
                        {% for discussion in discussions %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;">
                                        <i class="fa fa-4x fa-comments-o"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <h4><a href="{{ url_for('show_discuss', discuss_id=discussion.discuss_id) }}">{{ discussion['title'] }}</a></h4>
                                        <p>{{ discussion['content'] }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <a class="show-detail btn btn-default" data-toggle="collapse"
                                           data-target="#discussion-{{ discussion['discuss_id'] }}">
                                            details</a>
                                    {% if role == '2' or username == discussion.username %}
                                        <a class="popover-options btn btn-default" id="delete-discussion-{{ discussion['discuss_id'] }}"
                                            title="Are you sure to delete this group?"
                                            data-container="body" data-toggle="popover"
                                            data-content='<a class="discuss-delete btn btn-primary" victim="{{discussion.discuss_id}}">yes</a>
                                            <a class="btn btn-primary popover-close" origin="#delete-discussion-{{ discussion['discuss_id'] }}">no</a>'>
                                            delete
                                        </a>
                                    {% endif %}
                                    <div id="discussion-{{ discussion['discuss_id'] }}" class="collapse row discuss-detail">
                                        <ul>
                                            <li>
                                                Created by {{discussion.username}} on {{discussion.create_time}}
                                            </li>
                                            <li>
                                                {% if discussion.reply_num == 0 %}
                                                With no replies.
                                                {% elif discussion.reply_num == 1 %}
                                                With 1 reply.
                                                {% else %}
                                                With {{ discussion.reply_num }} replies.
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% else %}
                            <li class="list-group-item">
                                <h4>Oops! There are no discussions in your group!</h4>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="tab-pane fade" id="bulletin">
                    <h3>Bulletin</h3><hr>
                    <ul class="news list-group">
                        {% for entry in bulletin %}

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;">
                                        <i class="fa fa-4x fa-bullhorn group-bulletin-icon"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <h4>{{ entry['title'] }}</h4>
                                        <p>{{ entry['text'] }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <a class="show-detail btn btn-default" data-toggle="collapse"
                                           data-target="#bulletin-{{ entry['bulletin_id'] }}">
                                            details</a>
                                    {% if role == '2' or username == entry.username %}
                                        <a class="popover-options btn btn-default" id="delete-bulletin-{{ entry['bulletin_id'] }}"
                                            title="Are you sure to delete this bulletin?"
                                            data-container="body" data-toggle="popover"
                                            data-content='<a class="bulletin-delete btn btn-primary" victim="{{entry.bulletin_id}}">yes</a>
                                            <a class="btn btn-primary popover-close" origin="#delete-bulletin-{{ entry['bulletin_id'] }}">no</a>'>
                                            delete
                                        </a>
                                    {% endif %}
                                    <div id="bulletin-{{ entry['bulletin_id'] }}" class="collapse row discuss-detail">
                                        <ul>
                                            <li>
                                                Created by {{ entry.username }} on {{ entry['create_time'] }}
                                            </li>
                                            <li>
                                                Viewed by {{ entry.read_num }} members.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% else %}
                            <li class="list-group-item">
                                <h4>Oops! There are no bulletin in your group!</h4>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            {% endif %}

            {% if role == '1' or role == '2' %}
                <div class="tab-pane fade" id="newDiscussion">
                    <h3>New Discussion</h3><hr>
                    <form class="createDiscussion" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input class="form-control" name="title" id="discuss-title" placeholder="Enter Title">
                        </div>
                        <div class="form-group">
                            <label for="content">Topic</label>
                            <input class="form-control" name="content" id="discuss-content" placeholder="Enter Content">
                        </div>
                        <button type="submit" class="btn btn-default">Create</button>
                    </form>
                </div>
            {% endif %}


            {% if role == '2' %}
                <div class="tab-pane fade" id="newVote">
                    <h3>New Vote</h3>
                    <a id="instant_vote" class="list-group-item tab-main">Instant Vote</a>
                    <a id="longlasting_vote" class="list-group-item tab-main">Longlasting Vote</a>
                    <hr>
                    <form action="{{ url_for('raise_a_vote_result',group_id=group_id) }}" method="get" id="vote-add-form">
                        <h3>choose a type of vote</h3>
                    </form>
                </div>
            {% endif %}

            {% if role == '2' %}
                <div class="tab-pane fade" id="newBulletin">
                    <h3>New Bulletin</h3><hr>
                    <form class="createBulletin" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input class="form-control" name="title" id="bulletin-title" placeholder="Enter Title">
                        </div>
                        <div class="form-group">
                            <label for="text">Text</label>
                            <input class="form-control" name="text" id="bulletin-text" placeholder="Enter Text">
                        </div>
                        <button type="submit" class="btn btn-default">Create</button>
                    </form>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}