{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/index-log.css">
{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle"
                data-toggle="dropdown">
                {{ username }}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{url_for('mygroups')}}">My Groups</a></li>
                <li><a href="#">Contact with Admin</a></li>
                <li class="divider"></li>
                <li><a href="#">Settings</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="group-details">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#News" data-toggle="tab">
                News</a>
            </li>
            <li><a href="#Message" data-toggle="tab">Message</a></li>
            <li><a href="#Group" data-toggle="tab">New Group</a></li>
            <li><a href="#delGroup" data-toggle="tab">Del Group</a></li>
            <li><a href="#quitGroup" data-toggle="tab">Quit Group</a></li>
            <li><a href="#Find" data-toggle="tab">Find Group</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="News">
                <ul class="news list-group">
                    <li class="list-group-item">
                        <h4>News 1</h4>
                        <p>details</p>
                    </li>
                    <li class="list-group-item">
                        <h4>News 2</h4>
                        <p>details</p>
                    </li>
                    <li class="list-group-item">
                        <h4>News 3</h4>
                        <p>details</p>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" id="Message">
                <ul class="news list-group">
                    <li class="list-group-item">
                        <h4>Message 1</h4>
                        <p>details</p>
                    </li>
                    <li class="list-group-item">
                        <h4>Message 2</h4>
                        <p>details</p>
                    </li>
                    <li class="list-group-item">
                        <h4>Message 3</h4>
                        <p>details</p>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" id="Group">
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Group Name</label>
                        <input class="form-control" name="name" placeholder="Enter Group Name">
                    </div>
                    <div class="form-group">
                        <label for="topic">Topic</label>
                        <input class="form-control" name="topic" placeholder="Enter Topic">
                    </div>
<!--                     <div class="form-group">
                        <label for="capa">Group Capability</label>
                        <select class="form-control" name="capa">
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                            <option>200</option>
                        </select>
                    </div> -->
                    <div class="form-group">
                        <label for="confirm">Confirm Message</label>
                        <input class="form-control" name="confirmMessage" placeholder="Enter Confirm Message">
                    </div>
                    <button type="submit" class="btn btn-default">Create</button>
                </form>
            </div>

            <div class="tab-pane fade" id="delGroup">
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Group Name</label>
                        <input class="form-control" name="delname" placeholder="Enter Group Name you wanna delete">
                    </div>

                    <button type="submit" class="btn btn-default">Delete</button>
                </form>
            </div>

            <div class="tab-pane fade" id="quitGroup">
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Group Name</label>
                        <input class="form-control" name="quitname" placeholder="Enter Group Name you wanna quit">
                    </div>

                    <button type="submit" class="btn btn-default">Quit</button>
                </form>
            </div>

            <div class="tab-pane fade" id="Find">
                <form >
                    <div class="form-group">
                        <label for="groupId">Group Number</label>
                        <input class="form-control" name="groupname" id="groupId" placeholder="Enter Group NAME!!">
                    </div>
                    <button type="submit" class="btn btn-default">Find</button>
                </form>
                {% if leader %}
                    <p>Leader:</p>
                    <p>{{leader}}</p>
                {% endif %} 
                <br><br>
                {% if members %}
                    <p>Members:</p>
                    {% for member in members %}
                        <p>{{member.membername}}</p>
                    {% endfor %}
                {% endif %}

            
            </div>
        </div>
    </div>
{% endblock %}