
#discuss_body
{
	width: 80%;
	margin: 3% auto;
}

.new-reply
{
    width:70%;
}

ol.breadcrumb
{
    margin: 0;
}

.reply
{
    font-size: 16px;
}

.dis-content
{
    font-size: 17px;
}

p
{
    margin: 1% auto;
}