.tab-group
{
    float: left;
    width: 20%;
}

.tab-group ul
{
    list-style-type: none;
}

.list-group li
{
    margin-bottom: 5%;
}

.group-details
{
	width: 80%;
    margin: 4% auto 0 auto;
}

.tab-content
{
	width: 77%;
    float: right;
    padding-left: 5%;
    border-left: solid 1px lightgrey;
}

.content
{
	width: 90% !important;
	margin: auto;
}

