.main
{
	width: 100%;
	/*min-height: 100vh;*/
}

body
{
	height: 100%;
	background-image: url("../images/grape.jpg");
	background-size: 100%, 100%;
}

.navbar-default
{
	background: rgba(255,255,255,0.7);
	border-color: rgba(255,255,255,0.4);
	border-radius: 0px;
}

.grape-index
{
	font-family: Garamond;
	/*font-weight: bold;*/
}

.content
{
	width: 90% !important;
	margin: auto;
}

