input.vote-option-content
{
    border:1px solid #fff;background:#fff;
    font-size:14px;
    padding-left:5px;
    height:30px;
    line-height:30px;
    width:300px
}

input.vote-option-content-edit
{
    border:1px solid #369;
    background:#fff;
    padding-left:5px;
    height:30px;
    line-height:30px;
    width:300px
}

#vote-add-form lable
{
    display: block;
}

.label
{
    font-size: 100%;
    margin: 1% 2%;
    display: inline-block;
}

.btn-primary
{
    margin: 0 4%;
}